/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
table{
    background-color: lightgreen;
    padding: 10px;
    margin: 1rem;
    /* border: 3px dotted red; */
    /* border-radius: 30px 50px 30px 50px; */
    /* display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    left: 500px;
}
td,th{
    padding: 5px;
    margin: 2rem;
}
h1{ */
    /* display: flex; */
    /* text-align: center; */

/* } 